body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; 
  background-color: #ffffff; 
}

.header {
  position: relative;
  width: 100%;
  height: 250px; 
  background-image: url('fotos/emillyfotocapa.JPG');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 5px 0;
}

.header p {
  font-size: 18px;
  margin-bottom: 15px;
}

.nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.nav ul li {
  display: inline;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.nav ul li a:hover {
  text-decoration: underline;
}

.main {
  padding: 20px;
}

.project {
  background-color: white;
  color: black;
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ccc; 
}

.footer {
  background-color: #C1B4D9; 
  color: white;
  text-align: center;
  padding: 20px;
 
}

.email-link, .linkedin-link {
  color: #b800c9d8; 
  text-decoration: none;
  padding: 10px;
}

.email-link:hover, .linkedin-link:hover {
  text-decoration: underline;
}
